body{background-image: url(https://static.runoob.com/images/mix/gradient2.png); 
   background-repeat: repeat-x;color: green;font-size:80%;
font-family::'Times New Roman', Times, serif;}
div.p{background-color: bisque;color: blue;}
p{color:chartreuse;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: 20px;}
h4{color: chartreuse;}
#de{text-decoration:underline;color: black;}
#transc{text-transform: capitalize;color: black;}
#transu{text-transform:uppercase;color: black;}
#transl{text-transform:lowercase;color: black;}
#t{font-variant:small-caps;color: black;}